{% extends "layout.html" %}
{% block content %}

<div class="content-section">
  <form action="" method="POST">
    {{ form.hidden_tag() }}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Attendance Marked Successfully</legend>

    </fieldset>

    <!-- <div class="form-group">
      {{ form.submit(class="btn btn-outline-success")}}
    </div> -->

    <small class="ml-2">
      <a class="text-muted" href="{{ url_for('home') }}">Forgot Password?</a>
    </small>
    
    <!-- <div class="border-top pt-3">
      <small class="text-muted ml-2">
        Need an account? <a href="{{ url_for('register') }}">Sign Up now</a>
      </small>
    </div> -->
  </form>
  </div>


{% endblock content %}
